/*
  +----------------------------------------------------------------+
  |  Reset v1.0 | 20080212                                         |
  +----------------------------------------------------------------+
  |  Source: <http://meyerweb.com/eric/tools/css/reset/>           |
  +----------------------------------------------------------------+
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;
    border: 0; outline: 0;
    font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;
    vertical-align: baseline;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0;}

body {
    background: #fff;
    color: #555;
    font: Arial, Helvetica, sans-serif;
    font-size: 14.2167px;
    font-weight: 400;
    font-style: normal;
    line-height:1.5em;
    cursor: default;
}

#wrapper {
    margin:0 auto 2em;
    position:relative;
    width:38.8561em;
    z-index:1;
}
    #wrapper h1 {
        border-bottom:1px solid #e9e9e9;
        color:#505050;
        font-size:5em;
        font-weight:bold;
        line-height:1.5em;
        letter-spacing:-0.05em;
        margin:0.4em 0 1px 0;
        text-align:center;
    }
    
    #wrapper #navigation {
        border-top:1px solid #e9e9e9;
        border-bottom:1px solid #e9e9e9;
        padding:0.5em;
    }
        #wrapper #navigation li {
            display:block;
            float: left;
            margin:0 2em 0 0;
        }
            #wrapper #navigation li.active a {
                color: #111;
            }
        #navigation:after {
            clear:both;
            content:'.';
            display:block;
            height:0;
            visibility:hidden;
        }
            #navigation {display:inline-block;}
            * html #navigation {height:1%;}
            #navigation {display:block;}
    
    #content {
        border-top:1px solid #e9e9e9;
        margin-top:1px;
        padding:3em 0.5em;
    }
        #content h2 {
            font-size:1.5em;
            font-weight:bold;
            line-height:1.5em;
            letter-spacing:-0.05em;
            padding:0.75em 0 0;
        }
        
        #content p {
            font-size:0.9em;
            padding:0.25em 0 1.25em;
        }
        #content code {
            background:#FAFAFA none repeat scroll 0 0;
            border:1px solid #EAEAEA;
            font-family: Monaco, monospace;
            font-size:0.9em;
            padding:0.1em 0.25em;
            cursor: text;
        }
        #content pre {
            cursor: text;
            background:#FAFAFA none repeat scroll 0 0;
            border:1px solid #EAEAEA;
            font-size:0.9em;
            margin:0.25em 0 1.25em;
            padding:0.5em;
        }
            #content pre code {
                background: none;
                border: medium none;
                padding:0;
            }
        #content ul {
            font-size:0.9em;
            list-style: disc outside;
            padding:0 0 1.25em 1.25em;
        }
        #content hr {
            border: medium none;
            border-top:1px solid #e9e9e9;
            background:none;
            color: none;
            margin:1.25em -0.5em 0 -0.5em;
        }
        
a, a:link {
    color:#E60066;
    text-decoration:none;
}
    a:active {
        color: #999;
        text-decoration:none;
    }

    a:hover, a:focus {
        color:#B30050;
        text-decoration:underline;
    }
        
#content dl {
    font-size: 0.9em;
}
        
